# dependencies
/node_modules

# next.js
/.next
/out

# misc
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*

tsconfig.tsbuildinfo

# package-lock (this project uses bun)
package-lock.json
